# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

\.DS_Store

*.db

*.dat

Proof-of-Work/blockchain_pow/blockchain_pow

*.txt

Proof-of-Work/blockchain_pow/var_file
